h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-semibold;
  color: $color-primary;
}

h1 {
  @include fontSize(40px);
  line-height: 1.4;
  text-transform: uppercase;
  @include resp("m") {
    @include fontSize(48px);
  }
}

h2 {
  @include fontSize(32px);
  @include resp("m") {
    @include fontSize(40px);
  }
}

p {
  color: $color-primary;
  font-weight: $font-weight-regular;
  line-height: 1.75;
}

p,
strong,
li,
span,
label,
a {
  font-family: $font-family-primary, sans-serif;
}

strong,
li,
span {
  color: inherit;
}

input,
textarea {
  font-family: $font-family-primary, sans-serif;
}
