//Colors
$color-primary: #1e3745;
$color-secondary: #2aadd4;
$color-light-blue: #e9f7fb;
$color-white: #fff;

//Font families
$font-family-primary: "Poppins";

//Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
