#actuality .container {
  align-items: center;
  flex-direction: column;
}
#actuality .grid {
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
  margin-top: 40px;
}
@media (min-width: 992px) {
  #actuality .grid {
    grid-template-columns: auto auto auto;
  }
}
#actuality .grid__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 16px;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
  -moz-box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
  box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
}
@media (min-width: 992px) {
  #actuality .grid__item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
#actuality .grid__item img {
  height: 160px;
  border-radius: 16px;
  margin-bottom: 16px;
}
#actuality .grid__item .btn {
  margin-top: 24px;
}
#actuality .grid__name {
  font-weight: 600;
  color: #1e3745;
  font-size: 20px;
  font-size: 1.25rem;
}
#actuality .grid__text {
  color: #1e3745;
  text-align: center;
  margin-top: 8px;
  flex-grow: 1;
  font-size: 14px;
  font-size: 0.875rem;
}
#actuality .btn {
  margin-top: 40px;
}