#hero {
  background-image: url("/assets/img/hero.jpg");
}

#news-detail .container {
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  #news-detail .container {
    flex-direction: row;
    align-items: center;
  }
}
#news-detail .wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
@media (min-width: 992px) {
  #news-detail .wrap {
    margin-right: 80px;
  }
}
#news-detail .wrap h2 {
  border-bottom: 5px solid #2aadd4;
}
#news-detail .wrap p {
  margin-top: 20px;
}
#news-detail aside {
  max-width: 650px;
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 60px;
  -webkit-box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
  -moz-box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
  box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
}
@media (min-width: 992px) {
  #news-detail aside {
    margin-top: 0;
  }
}
#news-detail aside p {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px 16px;
  background-color: #e9f7fb;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  border-top-left-radius: 16px;
}