#hero {
  background-image: url("/assets/img/lekar-search.jpg");
}

#doctor-detail .container {
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  #doctor-detail .container {
    flex-direction: row;
    align-items: center;
  }
}
#doctor-detail .wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
@media (min-width: 992px) {
  #doctor-detail .wrap {
    margin-right: 80px;
  }
}
#doctor-detail .wrap h2 {
  border-bottom: 5px solid #2aadd4;
}
#doctor-detail .wrap p {
  margin-top: 20px;
}
#doctor-detail ul {
  list-style-type: none;
  margin-top: 4px;
}
#doctor-detail ul li {
  color: #1e3745;
  font-size: 14px;
  font-size: 0.875rem;
  display: flex;
  margin-top: 12px;
}
#doctor-detail ul li::before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: #2aadd4;
  border-radius: 100%;
  margin-top: 8px;
  margin-right: 8px;
}
#doctor-detail aside {
  max-width: 640px;
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 60px;
  -webkit-box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
  -moz-box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
  box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
}
@media (min-width: 992px) {
  #doctor-detail aside {
    margin-top: 0;
  }
}
#doctor-detail aside p {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px 16px;
  background-color: #e9f7fb;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  border-top-left-radius: 16px;
}